.settings-container {
  height: calc(100vh - 76px - 10rem);
  padding: 5rem;
  /* display: flex;
  justify-content: center;
align-items: center; */
}

.settings-sidemenu {
  width: 20%;
  border-right: 1px solid lightgrey;
}

.settings-main {
  padding: 2rem;
  width: 100%;
}
.account-details {
  width: 80%;
  margin-top: 1rem;
}
.account-details td label {
  padding-right: 2rem;
  font-weight: 500;
}
.account-details td {
  padding: 10px 0;
}

.todo-category-container {
  padding: 0 1rem;
  margin-top: 1rem;
}

.todo-category-list-container {
  margin-top: 2rem;
}
.todo-addcategory-button {
  margin-top: 1rem !important;
  float: right;
}
